{% if collection.all_tags.size > 0 %}
<div class="tag-container">
  <h3>Filter by colour</h3>
    <ul class="ul-tag-container">
      <!-- Then loop through the tags and display each -->
      {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
        <li class="active collection_tag collection_tag__{{tag}}">
          {{ tag | link_to_remove_tag: tag }}
        </li>
      {% else %}
        <li class="collection_tag collection_tag__{{tag}}">
          {{ tag | link_to_tag: tag }}
        </li>
      {% endif %}
      {% endfor %}
    </ul>
</div>
{% endif %}