<a class="button-reverse" href="{{ section.settings.link }}">{{ section.settings.button_label }}</a>

{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Link Label"
      }
    ]
  }
{% endschema %}