{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<section class="collection-list">
 
</section>

{% schema %}
  {
    "name": "Collection list",
    "settings": [
      {
        
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
