{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

{%- endcomment -%}
<section>
  <div class="h1-container">
    <div class="wrapper">
      <h1>{{ section.settings.collection_title }}</h1>
    </div>
  </div>
</section>
<section class="featured-collection">


</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "collection_title",
        "label": "Collection"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
