<div class="wrapper">
  <div class="main-carousel">
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
    <div class="carousel-cell">...</div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Landscape",
    "settings": [
      {
        "type": "header",
        "content":"Home Header"
      }
    ],
    "presets": [
      {
        "name": "Home Header",
        "category": "Home Header"
      }
    ]
  }
{% endschema %}
