<section class="landscaping-header">
  <div class="wrapper">
    <h1 class="secondary-h1">{{page.title}}</h1>
    <div class="content-img-container">
      {{page.content}}
      <img src="{{ section.settings.landscape_header | img_url: 'master' }}"
        alt="{{ section.settings.landscape_header_alt }}">
    </div>
  </div>
  <nav class="landscape-nav">
    <ul>
      <li><button class="active" id="design">Design</button><span class="envira design active" ><i class="fab fa-envira"></i></span></li>
      <li><button id="garden">Gardens</button><span class="envira garden"><i class="fab fa-envira"></i></span></li>
      <li><button id="lawn">Lawn</button><span class="envira lawn"><i class="fab fa-envira"></i></span></li>
    </ul>
  </nav>
</section>

{% schema %}
  {
    "name": "Landscaping Header",
    "settings": [
      {
        "type": "header",
        "content": "Landscaping Header"
      },
      {
        "type": "image_picker",
        "id": "landscape_header",
        "label": "Landscaping Header Image"
      },
      {
        "type": "text",
        "id": "landscape_header_alt",
        "label": "Landscaping Header Image Alt Text"
      }
    ]
  }
{% endschema %}