<div class="h1-container">
  <div class="wrapper">
    <p class="special-p">Sorry...</p>
  </div>
</div>
<div class="wrapper">
  <section class="container-404">
    <p>That link isn't working, click <a href="{{ shop.url }} ">here</a> to go home.</p>
    <img src="{{ 'store-front.jpeg' | asset_url }}" alt="{{ img.alt }}">
  </section>
</div>
