<div class="h1-container">
  <div class="wrapper">
    <h1>Sorry, but that not must be a real page!</h1>
  </div>
</div>
<div class="wrapper">
  <section class="container-404">
    <h2>Click <a href="{{ shop.url }} ">here</a> to go home.</h2>
    <img src="{{ 'store-front.jpeg' | asset_url }}" alt="{{ img.alt }}">
  </section>
</div>
