<div class="h1-container">
  <div class="wrapper">
    <h1>{{page.title}}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="about-text-img-container">
    <div class="content">
      {{ page.content }}
    </div>
    <div class="logo-container">
      <img src="{{ 'logo.png' | asset_url }}" alt="The letter V with a leaf on the end" loading="lazy">
    </div>
  </section>
</div>
{% section 'three-image-banner' %}
{% section 'three-icons-banner' %}