<div class="h1-container">
  <div class="wrapper">
    <h1>{{page.title}}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="covid-text-img-container">
    <div class="covid-text-container">
      <div class="content">
        {{ page.content }}
      </div>
      <a class="button" href="/contact"><i class="fas fa-envelope"></i>Contact</a>
    </div>
    <img src="{{ 'staff-with-masks.jpg' | asset_url }}" alt="Three people wearing masks">
    </div>
  </section>
</div>