<div class="wrapper">
  <section class="about-section">
    <h1 class="secondary-h1">{{ page.title }}</h1>
    <div class="about-text-img-container">
      {{ page.content }}
      <div class="svg-container">
        <img src="{{ 'canada.svg' | asset_url }}" alt="A maple 
        leaf">
      </div>
    </div>
  </section>
</div>
{% section 'three-image-banner' %}
{% section 'three-icons-banner' %}